<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            <pre id='user'>
 $$$$$$\             $$$$$$\        $$\  $$$$$$\  $$\   $$\
$$  __$$\           $$$ __$$\       $$ |$$ ___$$\ $$$\  $$ |
$$ /  \__| $$$$$$\  $$$$\ $$ | $$$$$$$ |\_/   $$ |$$$$\ $$ |
$$ |$$$$\ $$  __$$\ $$\$$\$$ |$$  __$$ |  $$$$$ / $$ $$\$$ |
$$ |\_$$ |$$ |  \__|$$ \$$$$ |$$ /  $$ |  \___$$\ $$ \$$$$ |
$$ |  $$ |$$ |      $$ |\$$$ |$$ |  $$ |$$\   $$ |$$ |\$$$ |
\$$$$$$  |$$ |      \$$$$$$  /\$$$$$$$ |\$$$$$$  |$$ | \$$ |
 \______/ \__|       \______/  \_______| \______/ \__|  \__|


$$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\
\____|\____|\____|\____|\____|\____|\____|\____|\____|\____|
$$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\ $$$$\
\____|\____|\____|\____|\____|\____|\____|\____|\____|\____|
            </pre>
            </br>
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
